*{
    margin:0px;
    padding:0px;
    }
    #container{
    /* background-color:green; */
    
    }
    #timmerParent{
    float:left;
    height:600px;
    width:500px;
    /* background-color:blue; */
    margin-left:100px;
    }
    #bubbleMain{
    float:left;
    height:650px;
    width:700px;
    /* background-color:red; */
    margin-left:100px;
    }
    #timmer{
    height:200px;
    width:300px;
    /* background-color:red; */
    margin:50px;
    }
    #score{
    height:200px;
    width:300px;
    /* background-color:green; */
    margin:50px;
    }
    .scoreDisplay{
    font-size:35px;
    text-align:center;
    
    }
    #timmerDisplay{
    font-size:35px;
    }