*{
    margin:0px;
    padding:0px;
    }
	body{
		background-color: black;
	}
    #container{
    background-image:url('../images/background.webp');
	background-repeat:no-repeat;
	background-size:cover;
	height:100vh;
	width:1300px;
	margin:auto;
	overflow:scroll;

    
    }
	::-webkit-scrollbar { 
    display: none;  
}
    #timmerParent{
    float:left;
    height:600px;
    width:370px;
    /* background-color:blue; */
    margin-left:80px;
	/* margin-top:150px; */
    }
    #bubbleMain{
    float:left;
    height:670px;
    width:700px;
    /* background-color:red; */
    margin-left:80px;
	/* margin-top:50px; */

    }
    #timmer{
    height:70px;
    width:200px;
    /* background-color:red; */
    margin:10px;
	/* float:left; */
	/* margin-top:400px; */
	margin-left:30px;
    }
    #score{
    height:70px;
    width:250px;
    /* background-color:green; */
    margin:10px;
	/* float:left; */
	/* margin-top:400px; */
	margin-left:30px;
    }
    .scoreDisplay{
    font-size:35px;
    text-align:center;
	color:white;
	font-family: 'Brush Script ', cursive;
    
    }
    #timmerDisplay{
    font-size:35px;
	color:white;
	font-family: 'Brush Script ', cursive;
    }
	#logo{
	/* float:left; */
	/* background-color:red; */
	cursor:pointer;
	}
	#myCanvas{
	 background-image: url(../images/lake.jpg);
     background-size: cover;                      
    /* background-repeat:   no-repeat; */
     /* background-position: center; */
	 /* background-color:black; */
	}
	#startBtn{
	cursor:pointer;
	margin-left:80px;	

	}
	#instructionContainer{
	height:230px;
	width:400px;
	background-image:url('../images/inst-bg.png');
	/* background-position: center; */
	background-repeat:   no-repeat; 
	background-size: 400px 230px;
	margin-top: 55px;
	/* margin-right: 50px; */
	cursor:pointer;
	/* position:absolute; 
	top: 250px;
	 left:220px; */
	
	}
	#content{
	padding:20px 10px 0px 38px;
	margin-top:10px;
	}
	.instWords{
	font-family: 'Brush Script MT', cursive;
	font-size:14px;
	line-height:20px;
	}
	#popupDiv{
	height:100vh;
	width:1300px;
	position:absolute;
	 background-color: rgb(33, 33, 32,0.8);
	top:0px;
	display:none;
	}
	#winnerAlert{
	height:500px;
	width:400px;
    /* margin:auto; */
	background-image:url('../images/winner.png');
	 background-position: center; 
	background-repeat:   no-repeat; 
	 background-size: contain; 
	 position:absolute;
	 inset:0;
	 margin:auto;
	 

	}
	#winnerContentAlert{
	/* margin-left:50px; */
	/* position:absolute; */
	/*  top:120px; 
	 left:70px; */
	 /* background-color:red; */
	 margin-left:70px;
	 margin-top:100px;

	}
	#winAlertHeading{
	font-size:33px;
	font-family: 'Brush Script MT', cursive;
	color:#DA4453;
	margin-left:14px;
	

	}
	#winHeading{
	font-size:27px;
	font-family: 'Brush Script MT', cursive;
	color:#f953c6;
	margin-top:10px;
	margin-left:52px;
	}
	#winAlertScoreBoard{
	font-size:20px;
	font-family: 'Brush Script MT', cursive;
	color:#f953c6;
	margin:30px;
	margin-top:50px;
	}
	#closeBtn{
	position:absolute;
	top:68px;
	right:65px;
	cursor:pointer;
	}
	#winAlertScore{
	font-size:25px;
	margin:50px 20px 10px 30px;
	color:
	}
	#loseAlert{
	height:500px;
	width:500px;
	background-image:url('../images/loose.png');
	background-position: center; 
	background-repeat:   no-repeat; 
	background-size: contain; 
	position:absolute;
	inset:0;
	margin:auto;
	

	}
	#losePopupDiv{
		height:100vh;
		width:1300px;
	position:absolute;
	 background-color: rgb(33, 33, 32,0.8);
	top:0px;
	display:none;
	}
	#gameOverHeading{
	margin-left:150px;
	margin-top:70px;
	}
	#loseHeading{
	margin-left:130px;
	margin-top:50px;
	}
	#loseScoreBoardDiv{
	margin-left:130px;
	margin-top:30px;
	}
	#loseAlertScoreBoard{
	font-size:23px;
	font-family: 'Brush Script MT', cursive;
	color:#f953c6;
	}
	#startHead{
	margin-left:120px;
	margin-top:71px;
	color:white;
	font-family: 'Brush Script MT', cursive;
	font-size:23px;
	cursor:pointer;
	}
	#exitHead{
	margin-left:296px;
	margin-top:-35px;
	color:white;
	font-family: 'Brush Script MT', cursive;
	cursor:pointer;
	}
	#startHead:hover{
	color:black;
	
	}
	#exitHead:hover{
	color:black;
	}
	#loseCloseBtn{
	position:absolute;
	top:85px;
	right:13px;
	cursor:pointer;
	}
	#mainPopup{
	height:100vh;
	width:100%;
	margin:auto;
	 background-image: url('../images/mainBack.jfif');
	 /* background-repeat:no-repeat; */
	 background-size:cover;
	  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	overflow:scroll;

	}
	#mainPopupContent{
	/* margin:auto; */
	margin-top:579px;
	margin-left:42%;
	cursor:pointer;	
	}
	#startBtn:hover{
	box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.5);
	border-radius:40px;
	}
	#startpngBtn:hover{
	box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.5);
	border-radius:40px;
	}
	#selectDrop{
	height:30px;
	width:200px;
	/* background-color:#3300CC; */
	color:white;
	background: transparent;
    border:none;
	margin-left:30px;
	font-size:20px;
	font-family: 'Brush Script MT', cursive;
	}
	select option{
    background-color:#0c4e5a;
    }
	
